
  <div class="navbar">
    <div class="nav-logo">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
      <h4>Awsome Garage</h4>
    </div>

  <div class="navbar-links">
    <div>
      <%= link_to "Home", root_path %>
    </div>
  <div><%= link_to "My Garage", favourites_path %></div>
  </div>

  </div>
